<div>
    <ul class="nav" style="padding: 5px;">
        <li class="nav-item" '>
          <a class="nav-link active" style='color: #aad8d3;' aria-current="page" href="{% url 'editor'%}">SpiteHub</a>
        </li>
        {% if unique_id %}
        <li class="nav-item">
          <a href="{% url 'edit_text' unique_id=unique_id %}" style='background-color: #aad8d3; color: #393e46;' class="btn">Edit</a>
      </li>
      
        {% else %}
        <li class="nav-item">
          <select class="form-select" aria-label="Default select example">
            <option selected>text</option>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            <option value="go">Go</option>
          </select>
        </li>>
          <li class="nav-item" style='background-color: #aad8d3; color: #393e46; border-radius: 4px;'>
              <button  type="submit" name="text_submission" class="btn ">save text</button>
          </li>
        {% endif %}    
        
</div>